:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}


body {
    font-family: "Roboto", serif;
    color:#2E2F42;
    background-color:#FFFFFF ;
}
 
a {
    text-decoration: none;
}
ul,ol {
    list-style-type: none;
}

button {
    cursor: pointer; 
}

.header {
}
.header-nav {
}
.header-logo {
     font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo span {
    color: #2e2f42;
}
.header-list {
}
.header-item {
}
.header-item-link {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.hero {
    background: #2e2f42;
}


.header-addr {
 
}
.addr-item {

}

.header-item-link:hover,
.header-item-link:focus{
    background: #404bbf;
}

.addr-item-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.addr-item-link:hover,
.addr-item-link:focus{
    color: #404bbf;
}



h1 {
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff
}

button {
    border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--iris);
color: #fff;
}
button:hover,
button:focus {
    background: #4d5ae5;;
}







.main-list {
}
.main-item {
}
.main-title {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}
.main-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}





.main-title-pic {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}
.main-text-pic {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.main-title-second {
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
color: #2e2f42;
}
.main-title-second{

}

.main-title-pic{

}






.footer-logo{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo span {
    color: #FFF;
}

.footer-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}
 
.hero-footer {
    background: #2e2f42;
}

.footer-logo-second{
    font-family: var(--second-family);
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}